<ul>
            {% for child in child_category %}
                {% if child.child.count > 0 %} 
                    <li><a href="{% url 'category' child.slug %}"> {{child.name}}</a>
                        {% include 'layouts/child-nav.html' with child_category=child.child.all %}
                    </li>
                {% else %}
                    <li><a href="{% url 'category' child.slug %}"> {{child.name}}</a></li>
                {% endif %}
            {% endfor %}
		    
</ul>