<div class="stellarnav">
		<ul>
            {% for cat in category %}
                {% if cat.child.count > 0 %} 
                    <li><a href="{% url 'category' cat.slug %}"> {{cat.name}}</a>
                        {% include 'layouts/child-nav.html' with child_category=cat.child.all %}
                    </li>
                {% else %}
                    <li><a href="{% url 'category' cat.slug %}"> {{cat.name}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="{% url 'products' %}">Products</a></li>
		    
		</ul>
	</div> 
